
.nav-bar{
  background: white;
  color: #282c34;
  border-radius: 3px;
  width: 25%;
  padding: 20px;
  height: 8px;
}
.flexColumn{
display: flex;
flex-direction: row;
text-align: center;
}
.username{
  color:white
}
.UserProfile{
  background-color:  #72a9be;
  width: 40%;
  text-align: center;
  padding-top: 50px;
  height: 100vh;
}
.UserProfile li, .UserProfile p{
  font-size: medium;
  font-weight: 600;

}
.user-image{
  width: 80%;
}
/* .UserProfile p{
  padding: 5px;
} */
.UserProfile ul {
  color: black;
  font-size: 20px;
  list-style-position: outside;
  /* list-style: circle; */
}
h1{
    padding-top:25px;
    color:black;
}
a{
    color:black;
    /* padding-left:100px; */
}
 ul {
  list-style: none;
  text-align: left;
  list-style-position: outside;
}

li{
  padding: 3px;
  padding-left: 0px;
  font-weight: 600;

}

.Anemeties{
  padding: 5px;
  text-align: left;
  margin-top: 60px;
  /* margin-right: 30px; */
  width: 100%;
  /* border: solid; */
}
.nav{
  border-bottom: solid;
  
}

 button:focus{
  border-bottom: hidden;  
  /* color: red; */
}
.Scholarship p li{
    /* padding-left: 30px; */
    list-style: none;
}
.Scholarship  {
     color: black;
     text-align: left;
     padding-left: 50px;
    }
.Scholarship h2 {
    color: #d33a02;
    text-align: left;
    padding-left: 50px;
}

.Events{
  padding: 10px;
}
.Events ul{
  /* border: solid; */
  padding:0px;
  padding-left: 30px;
  text-align: left;
  /* text-decoration: underline; */
  /* list-style: square; */
  width: 80%;
  margin-right: 0px;

}
.Scholarship h3{
  color: #0070c0;
}
/* .flexColumn{margin: auto;} */

.Events h5 {
    color: #d33a02;
    text-align: left;
    padding-left: 30px;  
    font-size: 30px;
}
.lists{
  font-size: medium;
}
.event-picture {
    width: 200px;
    height: 300px;
    padding: 10px;
    margin-left: 50px;

    margin-top: 20px;
    /* padding-left: 30px; */
    /* margin: auto; */
    /* border:solid */
}
.Scholarship-titles{
  list-style: url('./blue_triangle.png');
  font-size: 25px;
  /* border: solid; */
}
.Collapsible:hover{
    color: black;
    /* cursor: pointer; */
    padding: 8px 0px 8px 0px;
    
}
/* li{border: solid;} */
.Collapsible {
    padding: 5px 0px 5px 0px;
    color: #d33a02;
    width: 100%;
    cursor: pointer;
    /* text-align: left; */
    /* outline: none; */
    /* font-size: 30px; */
    font-weight: 600;
    list-style: square;
}
.Collapsible__contentInner {
    color: black;
    font-size: 20px;
}

/* button {
    color: lightgray;
    background-color: darkslategrey;
    padding: 20px;
    width: 240px;
    height: 8px;
    cursor: pointer;
    
} */