.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Events h1{
  color: #d33a02;
  text-align: left;
  padding: 20px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  /* background-color: #282c34; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; 
} */

.App-link {
  color: #61dafb;
}
.flexColumn{
display: flex;
flex-direction: left;
}
.UserProfile{
  background-color:#72a9be ;
  width: 30%;
  text-align: center;
  padding-top: 100px;
  height: 100vh;

}
 ul {
  list-style: none;
  text-align: left;
}

li{
  padding: 5px;
}
 .UserProfile p{
  padding: 5px;
}
.UserProfile h2{
  color: #d33a02;
  font-weight: 600;
}
.Anemeties{
  padding: 30px;
  text-align: center;
}
.Events{
  padding: 30px;
}
.event-picture{
  width: 20%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
 
}
